version: "3.7"

services:
  proxy:
    image: mijabr/mijabr-proxy:amd86
    ports:
      - "80:80"

  identity:
    image: mijabr/mijabr-identity:amd86

  home:
    image: mijabr/mijabr-home:amd86

  scrabble:
    image: mijabr/mijabr-scrabble:amd86
  